@font-face {
  font-family: "Line Seed Sans TH";
  font-weight: 300;
  src: url("../assets/fonts/Line_Seed_Sans_TH/LINESeedSansTH_W_Th.woff2")
    format("truetype");
}

@font-face {
  font-family: "Line Seed Sans TH";
  font-weight: 400;
  src: url("../fonts/Line_Seed_Sans_TH/LINESeedSansTH_W_Rg.woff2")
    format("truetype");
}

@font-face {
  font-family: "Line Seed Sans TH";
  font-weight: 600;
  src: url("../fonts/Line_Seed_Sans_TH/LINESeedSansTH_W_Bd.woff2")
    format("truetype");
}

@font-face {
  font-family: "Line Seed Sans TH";
  font-weight: 700;
  src: url("../fonts/Line_Seed_Sans_TH/LINESeedSansTH_W_XBd.woff2")
    format("truetype");
}

@font-face {
  font-family: "Line Seed Sans TH";
  font-weight: 900;
  src: url("../fonts/Line_Seed_Sans_TH/LINESeedSansTH_W_He.woff2")
    format("truetype");
}
